:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

main {
  width: 90%;
  margin: 5em auto 0;
}

body {
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  width: 100%;
  margin: 0;
  background-size: 90%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--very-dark-magenta, hsl(300, 43%, 22%));
  font-size: 32px;
}

p {
  color: var(--dark-grayish-magenta, hsl(300, 24%, 96%));
}

.attribution {
  margin-top: 5em;
  width: 100%;
  text-align: center;
}

.grid {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
}

.row2,
.row3 {
  display: flex;
  flex-direction: column;
}

.ratings-box {
  background-color: var(--light-grayish-magenta, hsl(300, 24%, 96%));
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 16px;
  height: 64px;
}

.rating-text {
  color: var(--very-dark-magenta, hsl(300, 43%, 22%));
  font-weight: 700;
  margin: 0;
}

.rating-stars {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 16px;
}

.review-box {
  background-color: var(--very-dark-magenta);
  border-radius: 5px;
  padding: 30px 30px 10px;
}

.review-avatar {
  border-radius: 50%;
  width: 40px;
  float: left;
  margin-right: 30px;
}

h2 {
  color: var(--white, white);
  margin: 0;
  font-size: 15px;
  margin-bottom: 4px;
}

.verified {
  color: var(--soft-pink, hsl(333, 80%, 67%));
  margin: 0;
  font-size: 15px;
}

.review {
  color: var(--light-grayish-magenta, hsl(300, 24%, 96%));
  font-size: 14px;
  margin: 30px 0;
  line-height: 22px;
}

@media screen and (max-width: 991px) {
  .row1 {
    text-align: center;
  }

  .review-box {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-size: 45%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
  }

  .ratings-box {
    flex-direction: row;
  }

  /* Ratings */
  .row2 > .flex-item1 {
    margin-right: 50px;
  }

  .row2 > .flex-item2 {
    margin-left: 50px;
    margin-right: 25px;
  }

  .row2 > .flex-item3 {
    margin-left: 100px;
  }

  /* Reviews */
  .row3 > .flex-item1 {
    margin-bottom: 50px;
  }

  .row3 > .flex-item2 {
    margin: 25px 30px;
  }

  .row3 > .flex-item3 {
    margin-top: 50px;
  }

  h1 {
    margin: 0;
    padding: 0 100px 10px 0;
  }

  .row1 > p {
    margin: 0;
    padding-right: 50px;
  }

  .row3 {
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .row3 > .flex-item2 {
  }
}
